

<!-- Main hero unit for a primary marketing message or call to action -->
<meta name="google-site-verification" content="Rb0XgIQq7VMhfoRBFjURHAv_Y5ONy2OGRWyjHUIOKxA" />
<div class="hero-unit">
    <h1 class="headline large">gabe <span class="highlight">&amp;</span> nicole</h1>

    <%= image_tag 'couple.jpg' %>

    <p>&quot;It wasn’t love at first sight. It took a full five minutes.&quot; -Lucille Ball </p>

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>What</h2>

        <p>We're getting married!</p>

    </div>
    <div class="span-one-third">
        <h2>Where</h2>
        <p>We will be holding the ceremony and reception at Trinity Tree Farm in Issaquah, WA.  Trinity Tree Farm is 30 minutes outside of Seattle, WA.</p>

    </div>
    <div class="span-one-third">
        <h2>When</h2>
        <p>August 31st, 2014.  Ceremony starts at 4:30pm.  Cocktail Hour starts at 5pm.  Reception to follow dinner. Send off will be at 9:45pm.</p>

    </div>
</div>
