<div class="hero-unit">
    <h1 class="headline large">Lodging</h1>
    <br/>
    <br/>

    <table class="wedding_party">
        <tr class="primary">
            <td colspan=1 class="wedding_mug"><%= image_tag 'airbnb.jpeg', :class => 'wedding_mug' %></td>
            <td colspan=2 class="details">
                <p>If you want to stay close to downtown without paying a fortune, we advise signing up for Airbnb if you haven't</p>
                <ul>
                    <li>Here is a referral link if you haven't already signed up. It will issue you a $25 credit: <%= link_to '* Referral Link', 'www.airbnb.com/c/nglasgow1'%></li>
                    <li>We will be providing bus service from  downtown to/from Wedding for carless out of towners.</li>
                    <li>Pro tip: Search for listings no more than 2-3 miles from the zip code 98122</li>
                </ul>
            </td>
        </tr>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'vrbo.jpeg', :class => 'wedding_mug' %></td>
            <td colspan=2 class="details">
                <p>Another affordable options for larger groups is Vacation Rentals By Owners</p>
                <ul>
                    <li>Search by using the following neighborhood choices: Capitol Hill, Central District,Pioneer Square and Beacon Hill.
                    </li>
                    <li>We will be providing bus service from  downtown to/from Wedding for carless out of towners.</li>
                    <li>Pro tip: Search for listings no more than 2-3 miles from the zip code 98122. Although we do have a great public transportation available if you want to go a bit further out.
                    </li>
                </ul>
            </td>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'hotel.jpg', :class => 'wedding_mug' %></td>
            <td colspan=2 class="details">
                <p>And last but not least here are a few hotel options. *Prices are subject to change.</p>
                <ul>
                    <li>Marriott Waterfront Hotel- $259/night (206) 443 5000</li>
                    <li>Downtown - Holiday Inn Express -$190/night (877) 859-5095, (206) 365-7777</li>
                    <li>Executive Hotel Pacific- $269/night (206) 623-3900</li>
                    <li>Seattle Pacific Hotel- $220/night (206) 441-0400</li>
                    <li>We will be providing bus service from  downtown to/from Wedding for carless out of towners.</li></br>
                    <li>* Prices are subject to change these prices were quote on 7/23.</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
