<br/><h1 class="headline large">Saturday</h1>
<h1 class="headline">Celebration BBQ 4pm-9pm</h1>
<h2 class="headline">Location:<br/>
10510 118th PL NE<br/>
Kirkland, WA 98033<br/></h2><br/><br/>
<h1 class="headline large">Sunday</h1>
<h1 class="headline">Wedding</h1>
<h2 class="headline">For those taking the shuttle, they will need to be at the pick-up spot by 3:30pm, the ceremony starts at 4pm.</h2>
<h1 class="headline">Post Reception Party</h1>
<h2 class="headline">
The afterparty will be held at:</br>
2125 Western Ave <br/>
Seattle, WA 98121 <br/></h2>
<h2>*The shuttle for out of towners drops off at the post reception party.</h2><br/><br/>
<h1 class="headline large">Monday</h1>
<h1 class="headline">Brunch 11am-2pm</h1>
<h2 class="headline">The brunch will be hosted at:</br>
2125 Western Ave <br/>
Seattle, WA 98121 <br/></h2>

<h2>Here is a link to a <%= link_to 'Google Doc', 'https://docs.google.com/document/d/1YEdKA0yr6_2jFi7qjSzRa1bSQPXoT1wAvP17Ffmn6_0/edit', :target => "_blank" %> we put together of things to do.</h3>
