<br/>
<h1 class="headline large">After Party <br/></h1>

<h2 class="headline">
The afterparty will be held at: <br/>
<br/>
2125 Western Ave <br/>
Seattle, WA 98121 <br/>
<br/>
For those out of towners wished to go to the afterparty. The shuttle bus will pick up from here before the wedding and drop off here after the wedding.
</h2>

<h2 class="headline">
* Details for other events COMING SOON!</h2>
