<br/><h1 class="headline large">Friday</h1>
<h1 class="headline">Celebration BBQ</h1>
<h2>*Location to be announced soon!</h2><br/><br/>
<h1 class="headline large">Saturday</h1>
<h1 class="headline">Out of Towners Dinner 5:30-9pm</h1>
<h2 class="headline">As a special thank you to those who came from out of town, we would like to invite you to share a dinner with us at the Japanese Cultural and Community Center of Washington.<br/><br/>
<h1 class="headline large">Sunday</h1>
<h1 class="headline">Post Reception Party</h1>
<h2 class="headline">
The afterparty will be held at:</br>
2125 Western Ave <br/>
Seattle, WA 98121 <br/></h2>
<h2>*The shuttle for out of towners drops off at the post reception party.</h2><br/><br/>
<h1 class="headline large">Monday</h1>
<h1 class="headline">Brunch 11am-2pm</h1>
<h2 class="headline">The brunch will be hosted at:</br>
2125 Western Ave <br/>
Seattle, WA 98121 <br/></h2>
